html{
    scroll-behavior: smooth;
    list-style: none;
}
body{
    box-sizing: border-box;
    background-color: #e3f2fd;
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

a{
    text-decoration: none;
    color: inherit;
}

h2, h1{
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    grid-template-rows: 1fr .5fr 4fr auto auto auto;
    text-align: center;
}

h3{
    text-align: left;
}

header{
    background-color: #ccdbfd;
    display: flex;
    padding: 1em;
}

header .logo{
    margin: auto;
    width: 120px;
    height: 50px;
}

nav{
    background-color: #adc4fb;
    color: #757bc8;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3em;
}

#landing-section{
    background: url('./assets/bg.jpeg') no-repeat center/cover;
    position: relative;
}

#landing-section h2{
    position: absolute;
    font-size: 2em;
    top: -10%;
    left: 55%;
    z-index: 99;
    transform: translate(-50%, 50%) rotate(5deg);
}

#landing-section img{
    position: absolute;
    width: 350px;
    top: -70%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(5deg);
}

main{
    background-color: #9bb1ff;
    display: grid;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

#best-stickers{
    display: flex;
    gap: 1em;
}

.sticker-pack{
    border-radius: 16px;
    border: 2px solid #757bc8;
    overflow: hidden;
}

.sticker-container{
  width: 90px;
    height: 90px;
}

/* for pastel sticker pack */
#pastel .sticker-container{
    background: url('./assets/pastel-sticker-pack.jpeg') no-repeat center/cover;
}

/* for pixel sticker pack */
#pixel .sticker-container{
    background: url('./assets/pixel-sticker-pack.jpeg') no-repeat center/cover;
}

/* for candycore sticker pack */
#candycore .sticker-container{
    background: url('./assets/candycore-sticker-pack.jpeg') no-repeat right/cover;
}

/* for shell sticker pack */
#shell .sticker-container{
    background: url('./assets/shell-sticker-pack.jpeg') no-repeat right/cover;
}

/* for chrome sticker pack */
#chrome .sticker-container{
    background: url('./assets/chrome-sticker-pack.jpeg') no-repeat right/cover;
}

/* for whimsy sticker pack */
#whimsy .sticker-container{
    background: url('./assets/whimsy-sticker-pack.jpeg') no-repeat right/cover;
}

div h4{
    font-size: .8em;
    background-color: #757bc8;
    margin: 0;
    padding: 0.2em;
}

#about-section{
    background-color:  #8088f2;
    justify-content: center;
     padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    color: #252525;
}

#about-logo{
    width: 60px;
    padding-top: 1em;
}

#about-section p{
    text-align: justify;
}

footer{
    background-color:  #adc4fb;
}

