html {
  scroll-behavior: smooth;
  list-style: none;
}
body {
  box-sizing: border-box;
  background-color: #e3f2fd;
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h1 {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-rows: 1fr 0.5fr 4fr auto auto auto;
  text-align: center;
}

h3 {
  text-align: left;
  padding-left: 4em;
}

header {
  background-color: #ccdbfd;
  display: flex;
  padding: 1em;
}

header .logo {
  margin: auto;
  width: 120px;
  height: 50px;
}

nav {
  background-color: #adc4fb;
  color: #757bc8;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3em;
}

#landing-section {
  background: url("./assets/bg.jpeg") no-repeat center/cover;
  position: relative;
}

/* pop animation */
@keyframes popIn {
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
    70%{
    transform: scale(1.05);
    opacity: 1;
  }
    100%{
    transform: scale(1);
  }
}

.tape-wrapper,
.tape-paper,
.tape-text,
.floating-sticker{
  display: none;
}

.pin-wrapper{
   position: absolute;
   top: -70%;
   left: 50%;
   transform: translate(-50%, 50%) rotate(5deg);
   pointer-events: none;
}

.pin-paper {
  display: block;
  animation: popIn 0.6s ease-out both;
  width: 350px;
}


.pin-text {
  position: absolute;
  font-size: 1.7em;
  top: 40%;
  left: 12%;
  z-index: 99;
  transform: translateX(-50%) rotate(3deg);
  font-weight: normal;
  color: rgb(85, 85, 85);

   animation: popIn 0.6s ease-out both;
   animation-delay: 0.1s;
}


#landing-section .tape-paper {
display: none;
}

.floating-sticker{
    display: none;
}

main {
  background-color: #9bb1ff;
  display: grid;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.sticker-collection {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.sticker-pack {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid #757bc8;
  align-items: center;
  overflow: hidden;
}

.sticker-container {
  width: 90px;
  height: 90px;
}

.carousel{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 40px auto;
}

.carousel-items{
    position: relative;
    width: 380px;
    overflow: hidden;
}

.carousel-track{
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}


.slide{
    display: flex;
    min-width: 100%;
    flex-shrink: 0;
    justify-content: center;
    gap: 1em;
}

/* for pastel sticker pack */
#pastel .sticker-container {
  background: url("./assets/pastel-sticker-pack.jpeg") no-repeat center/cover;
}

/* for pixel sticker pack */
#pixel .sticker-container {
  background: url("./assets/pixel-sticker-pack.jpeg") no-repeat center/cover;
}

/* for candycore sticker pack */
#candycore .sticker-container {
  background: url("./assets/candycore-sticker-pack.jpeg") no-repeat right/cover;
}

/* for shell sticker pack */
#shell .sticker-container {
  background: url("./assets/shell-sticker-pack.jpeg") no-repeat right/cover;
}

/* for chrome sticker pack */
#chrome .sticker-container {
  background: url("./assets/chrome-sticker-pack.jpeg") no-repeat right/cover;
}

/* for whimsy sticker pack */
#whimsy .sticker-container {
  background: url("./assets/whimsy-sticker-pack.jpeg") no-repeat right/cover;
}

/* for kawaii sticker pack */
#kawaii .sticker-container {
  background: url("./assets/kawaii-sticker-pack.jpeg") no-repeat right/cover;
}

/* for retro sticker pack */
#retro .sticker-container {
  background: url("./assets/retro-sticker-pack.png") no-repeat right/cover;
}

/* for floralsticker pack */
#floral .sticker-container {
  background: url("./assets/floral-sticker-pack.jpeg") no-repeat right/cover;
}

/* for vapourwave sticker pack */
#vapourwave .sticker-container {
  background: url("./assets/vapourwave-sticker-pack.jpeg") no-repeat right/cover;
}

/* for mystical sticker pack */
#mystical .sticker-container {
  background: url("./assets/mystical.jpeg") no-repeat right/cover;
}

/* for galaxy sticker pack */
#galaxy .sticker-container {
  background: url("./assets/galaxy.jpeg") no-repeat right/cover;
}

div h4 {
    width: 100%;
  font-size: 0.8em;
  background-color: #757bc8;
  margin: 0;
  padding: 0.2em;
}

#about-section {
  background-color: #8088f2;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  color: #252525;
}

#about-logo {
  width: 60px;
  padding-top: 1em;
}

#about-section p {
  text-align: justify;
}

footer {
  background-color: #adc4fb;
  display: grid;
  text-align: center;
}

/* tablet view */

@media (min-width: 768px) {

@keyframes popShake {
  0%{
    transform: scale(0.2) rotate(0deg);
    opacity: 0;
  }
  70%{
    transform: scale(1.05) rotate(0deg);
    opacity: 1;
  }
  85%{
    transform: scale(0.98) rotate(-2deg);
  }
  92%{
    transform: scale(1.02) rotate(2deg);
  }
  100%{
    transform: scale(1) rotate(0deg);
  }
}

h3 {
  padding-left: 6em;
}

.tape-wrapper{
  display: block;
  position: absolute;
  top: -35%;
  left: 45%;
  transform: translate(-50%, 50%) rotate(5deg);
  z-index: 2;
  pointer-events: none;

}

#landing-section .tape-paper {
  display: block;
  width: 510px;
}

.tape-text {
  display: block;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  animation: none;
  transform: translate(-50%, -50%) rotate(6deg);
  color: rgb(85, 85, 85);
  white-space: nowrap;
  z-index: 3;
}


#landing-section .pin-paper, .pin-text{
    display: none;
}

.floating-sticker{
    display: block;
    position: absolute;
    width: 70px;
    z-index: 4;
    animation: popShake 0.6s ease-out both;
}

.floating-sticker#boba-sticker{
  top: 65%;
  left: 7%;
  transform: rotate(25deg);
  animation-delay: 0.1s;
}

.floating-sticker#chrome-star-sticker{
   top: 73%;
  right: 25%;
  transform: rotate(25deg);
  animation-delay: 0.2s;
}

.floating-sticker#shell-sticker{
   top: 7%;
  left: 45%;
  transform: rotate(45deg);
  animation-delay: 0.3s;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

.sticker-collection {
  gap: 2em;
}

.carousel-items, .slide{
    gap: 2em
}

.carousel-items{
    width: 680px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
    gap: 0;
}

.sticker-container {
    width: 170px;
    height: 130px;
}


#about-section {
  padding-left: 4em;
  padding-right: 4em;

}

  footer {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
}

/* desktop view */
@media (min-width: 1024px){
  .tape-wrapper{
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
  }

  

  .tape-paper{
    width: 700px;
    min-width: 700px;
  }

.tape-text {
  display: block;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(6deg);
  color: rgb(85, 85, 85);
  white-space: nowrap;
  z-index: 3;
}

.floating-sticker{
    display: block;
    position: absolute;
    width: 90px;
}

.floating-sticker#boba-sticker{
  top: 53%;
  left: 5%;
  transform: rotate(-2deg) rotate(-45deg);
}

.floating-sticker#chrome-star-sticker{
  top: 70%;
  right: 35%;
  transform: rotate(25deg);
  width: 103px;

}

.floating-sticker#shell-sticker{
  top: 5%;
  left: 45%;
  transform: rotate(42deg);
    width: 97px;

}

#container {
  grid-template-rows: 1fr 0.5fr 4.5fr auto auto auto;
    }
 
}
